* {
    box-sizing: border-box;
}    

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 2px rgb(51, 51, 51), 0px 0px 5px #565656;
    font-size: 16px;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.time {
    text-align: center;
    font-size: 12rem;
    font-weight: 600;
    padding-top: 40px;
}

h2 {
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

.quote {
    text-align: center;
    height: 40px;
    margin-top: -100px;
}

#quote--author {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

#quote {
    max-width: 50vw;
    margin: 0 auto;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 10vh;
}

.image--details {
    font-weight: bold;
}

.photographer, .location {
    display: flex;
    align-items: flex-end;
    font-size: 0.8rem;
    margin-top: -10px;
}

.photodeets {
    display: flex;
}

.photodeets img {
    margin-right: 15px;
    height: 40px;
}

.photographer {
    margin-top: 5px;
}

.photographer span, .location span {
    font-weight: normal;
}

.photographer p, .todolist p {
    margin: 0;
    padding: 0;
}

p.todolist {
    margin-bottom: -3px;
}

.td, .weather {
    width: 200px;
}

.linkslist, .todolist {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px rgb(51, 51, 51), 0px 0px 5px #565656;
    font-size: 1.1rem;
}

.linkslist {
    margin-bottom: -3px;
    margin-right: 1px;
}

p#location, p#photographer {
    margin-bottom: 0;
}

div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: -20px;
}

div#weather > img {
    width: 70px;
}

p.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -10px;
    font-size: 0.8rem;
}

p.weather-temp {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0px;
}

.links {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: 10px;
    bottom: 45px;
    border-radius: 15px;
    text-align: left;
    padding: 10px 8px 0;
    color: white;
    display: none;
    flex-direction: column;
    text-shadow: 1px 1px 2px rgb(51, 51, 51), 0px 0px 5px #565656;
    box-shadow: 0px 0px 10px rgb(66, 66, 66);
}

.todos {
    margin-bottom: 7px;
}

.todoitems {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 10px;
    bottom: 45px;
    border-radius: 15px;
    text-align: left;
    padding-left: 10px;
    color: white;
    display: none;
    flex-direction: column;
    text-shadow: 1px 1px 2px rgb(51, 51, 51), 0px 0px 5px #565656;
    box-shadow: 0px 0px 10px rgb(66, 66, 66);
}

.todosform {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 10px 0 0;
}

.todosinput {
    padding: 13px 10px 11px;
    margin: 1px 0 12px;
    margin-left: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 7px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 10px -10px black;
    width: 272px;
    font-size: 1rem;
    color: black;
    font-weight: 700;
}

.linksinput {
    padding: 13px 10px 11px;
    margin: 1px 0 12px;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 7px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 10px -10px black;
    width: 273px;
    font-size: 1rem;
    color: black;
    font-weight: 700;
}

.todosform input::placeholder {
    font-size: 1rem;
}

.todosform input:focus {
    box-shadow: 0px 8px 10px -10px black;
    font-size: 1rem;
}

.todosubmit, .todoclear {
    padding: 12px 14px;
    width: 130px;
    text-align: center;
    border-radius: 7px;
    background-color: #535353;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    margin: 6px auto 0;
    box-shadow: 0px 4px 10px -10px black;
    cursor: pointer;
    color: white;
}

.todobtns {
    display: flex;
}

.linkbtns {
    display: flex;
    margin-bottom: -10px;
}

.todosubmit:hover {
    background-color: #8c8b8b;
}

.todoclear:hover {
    background-color: #d60303;
}

.todostop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.todoslabel {
    margin: 1px 2px 5px 3px;
    padding: 2px 0;
    font-weight: 700;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-shadow: none;
}

.todoslabel {
    margin: 1px 2px 5px 3px;
    padding: 2px 0;
    font-weight: 700;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-shadow: none;
}

img.closetodos {
    height: 20px;
    width: 20px;
    margin: -8px 2px 0 0;
}

img.closetodos {
    cursor: pointer;
}

.closelinks {
    margin-top: -7px;
    margin-right: 5px;
    cursor: pointer;
}

.links--links {
    list-style-type: none;
    opacity: 1;
}

.links--links img {
    padding-right: 20px;
}

.todos li {
    color: black;
}

.closebutton {
    margin: 15px -10px 0 15px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin-top: 10px;
    display: block;
}

.listul ul {
    margin-top: 5px;
}

ul div {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

ul div img {
    margin-right: 10px;
    cursor: pointer;
}

.linksul img {
    margin-right: 2px;
}

ul li {
    cursor: pointer;
}

ul li.checked {
    color: rgb(188, 3, 3);
    text-decoration: line-through;
  }
  
li {
    padding: 8px 0;
    margin-left: -30px;
    margin-right: 10px;
    color: black;
    text-shadow: none;
    font-size: 1rem;
}

li.list--item {
    text-shadow: none;
    font-weight: bold;
    color: white;
}

li a:hover {
    color: rgb(247, 207, 4);
    z-index: 10;
    cursor: pointer;
}

.linksul div {
    margin-top: 10px;
    margin-bottom: -10px;
}

.linkslist, .todolist {
    font-size: 1.2rem;
    font-weight: 700;
}

.linkslist:hover, .todolist:hover {
    cursor: pointer;
    color: rgb(247, 207, 4);
}

#imagesettings {
    cursor: pointer;
    height: 30px;
    margin-top: 5px;
    margin-left: 0px;
}

/* ************** MEDIA QUERIES ************** */

@media (max-width: 1280px) {
    h2 {
        font-size: 1.4rem;
    }

    .time {
        text-align: center;
        font-size: 9rem;
        font-weight: 800;
        padding-top: 30px;
    }

    #quote--author {
        font-size: 1rem;
    }

    .quote {
        margin-top: -60px;
    }
}