* {
    box-sizing: border-box;
}    

body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 2px rgb(51, 51, 51), 0px 0px 5px #565656;
    font-size: 16px;
    overflow: hidden;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.time {
    text-align: center;
    font-size: 12rem;
    font-weight: 600;
    padding-top: 88px;
}

h2 {
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

.quote {
    text-align: center;
    height: 40px;
}

#quote--author {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

#quote {
    max-width: 50vw;
    margin: 0 auto;
    height: 400px;
    margin-top: -185px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quotediv {
    display: block;
}

.quotediv p {
    font-size: 1.4rem;
    margin-top: -5px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 10vh;
}

.image--details {
    font-weight: bold;
}

.photographer, .location {
    display: flex;
    font-size: 0.8rem;
    margin-top: -10px;
}

.photodeets {
    display: flex;
}

.photodeets img {
    margin-right: 15px;
    height: 40px;
}

.photographer {
    margin-top: -7px;
}

.photographer .span, .location .span {
    font-weight: normal;
}

.photographer p, .todolist p {
    margin: 0;
    padding: 0;
}

p.todolist {
    margin-bottom: -3px;
    margin-left: 40px;
}

.td, .weather {
    width: 200px;
}

.linkslist, .todolist {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px rgb(51, 51, 51), 0px 0px 5px #565656;
    font-size: 1.1rem;
}

.linkslist {
    margin-bottom: -3px;
    margin-right: 55px;

}

p#location, p#photographer {
    margin-bottom: 0;
}

div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: -20px;
}

div#weather > img {
    width: 70px;
}

p.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -10px;
    font-size: 0.8rem;
}

p.weather-temp {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0px;
}

.links {
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: 10px;
    bottom: 45px;
    border-radius: 15px;
    text-align: left;
    padding: 10px 8px 0;
    color: white;
    display: none;
    flex-direction: column;
    text-shadow: 1px 1px 2px rgb(51, 51, 51), 0px 0px 5px #565656;
    box-shadow: 0px 0px 10px rgb(66, 66, 66);
}

.todos {
    margin-bottom: 7px;
}

.todoitems {
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 10px;
    bottom: 45px;
    border-radius: 15px;
    text-align: left;
    padding-left: 10px;
    color: white;
    display: none;
    flex-direction: column;
    text-shadow: 1px 1px 2px rgb(51, 51, 51), 0px 0px 5px #565656;
    box-shadow: 0px 0px 10px rgb(66, 66, 66);
}

.italicsquote {
    font-style: italic;
}

.todosform {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 10px 0 0;
}

.todosinput {
    padding: 13px 10px 11px;
    margin: 1px 0 12px;
    margin-left: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 7px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 10px -10px black;
    width: 272px;
    font-size: 1rem;
    color: black;
    font-weight: 700;
}

.linksinput {
    padding: 13px 10px 11px;
    margin: 1px 0 12px;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 7px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 10px -10px black;
    width: 273px;
    font-size: 1rem;
    color: black;
    font-weight: 700;
}

.todosform input::placeholder {
    font-size: 1rem;
}

.todosform input:focus {
    box-shadow: 0px 8px 10px -10px black;
    font-size: 1rem;
}

.todosubmit, .todoclear {
    padding: 11px 14px;
    width: 130px;
    text-align: center;
    border-radius: 7px;
    background-color: #535353;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    margin: 6px auto 0;
    box-shadow: 0px 4px 10px -10px black;
    cursor: pointer;
    color: white;
}

.todoclear {
    font-weight: 700;
}

.todosubmit {
    margin-left: 4px;
    padding-top: 13px;
}

#todosubmit {
    padding-top: 13px;
    padding-bottom: -1px;
}

#todoclear {
    margin-left: 8px;
    padding-top: 12px;
}

#linksclear {
    padding-top: 13px;
}

#linksubmit {
    margin-left: 5px;
    padding-top: 14px;
}

.todobtns {
    display: flex;
    margin-bottom: -2px;
}

.linkbtns {
    display: flex;
    margin-bottom: -10px;
}

.todosubmit:hover {
    background-color: #8c8b8b;
    text-shadow: 1px 1px 2px rgb(51 51 51), 0px 0px 5px #565656;
}

.todoclear:hover {
    background-color: #d60303;
}

.todostop {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todoslabel {
    margin: 1px 2px 5px 3px;
    padding: 2px 0;
    font-weight: 700;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-shadow: none;
}

.todoslabel {
    margin: 1px 2px 5px 3px;
    padding: 2px 0;
    font-weight: 700;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-shadow: none;
}

#linkslabel {
    padding-left: 2px;
    padding-right: 4px;
}

img.closetodos {
    margin: -4px 2px 0 0;
}

img.closetodos {
    cursor: pointer;
}

.closelinks {
    margin-top: -7px;
    margin-right: 5px;
    margin-left: 2px;
    cursor: pointer;
}

.links--links {
    list-style-type: none;
    opacity: 1;
}

.links--links img {
    padding-right: 20px;
}

.todos li {
    color: black;
}

.closebutton {
    margin: 15px -10px 0 15px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin-top: 10px;
    display: block;
}

.listul ul {
    margin-top: 5px;
}

ul div {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

ul div img {
    margin-right: 10px;
    cursor: pointer;
}

.linksul img {
    margin-right: 2px;
}

ul li.checked {
    color: rgb(188, 3, 3);
    text-decoration: line-through;
  }
  
li {
    padding: 8px 0;
    margin-left: -30px;
    margin-right: 10px;
    color: black;
    text-shadow: none;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: blue;
}

li.list--item {
    text-shadow: none;
    font-weight: bold;
    color: white;
}

li a:hover {
    color: rgb(22, 84, 1);
    z-index: 10;
    cursor: pointer;
}

.linksul div {
    margin-top: 10px;
    margin-bottom: -10px;
}

.linkslist, .todolist {
    font-size: 1.2rem;
    font-weight: 700;
}

.linkslist:hover, .todolist:hover {
    cursor: pointer;
    color: rgb(247, 207, 4);
}

#imagesettings {
    cursor: pointer;
    height: 55px;
    margin-top: -5px;
    margin-left: 0px;
}

#linkscorner:hover, #todocorner:hover {
    cursor: pointer;
}

#todoimage, #linksimage {
    cursor: pointer;
}

.todocorner, .linkscorner {
    display: flex;
}

.linkscorner img {
    width: 60px;
    height: 60px;
    position: fixed;
    right: -1px;
    bottom: -10px;
}

.todocorner img {
    width: 50px;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.hover {
    color: blue;
}


/* ************** MEDIA QUERIES ************** */

@media (max-width: 1280px) {
    h2 {
        font-size: 1.4rem;
    }

    .time {
        text-align: center;
        font-size: 9rem;
        padding-top: 70px;
    }

    .quotediv p {
        font-size: 1.1rem;
    }
}

@media (max-width: 900px) {
    h2 {
        font-size: 1.4rem;
    }

    .time {
        text-align: center;
        font-size: 8rem;
        padding-top: 120px;
    }

    .quotediv h2 {
        font-size: 1.5rem;
    }

    .quotediv p {
        font-size: 1.2rem;
    }

    #quote {
        max-width: 70vw;
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 1rem;
    }

    .time {
        text-align: center;
        font-size: 5rem;
        padding-top: 90px;
    }

    .quotediv h2 {
        font-size: 1.1rem;
    }

    .quotediv p {
        font-size: 0.9rem;
    }

    #quote {
        max-width: 80vw;
    }

    .location, #location {
        font-size: 0.6rem;
    }

    .weather {
        width: 130px;
    }

    #imagesettings {
        width: 40px;
        margin-top: -17px;
        margin-left: -3px;
        margin-right: 10px;
    }

    .photographer {
        display: none;
    }

    .weather-city {
        font-size: 1rem;
    }
}